<!DOCTYPE html>
<html>
<head>
  <title>Your Application Title</title>
  <%= stylesheet_link_tag 'stylesheet', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
 <div>eliiii</div>
</header>

<main>
  <%= yield %>
</main>
</body>
</html>
